@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* CSS vars go here */
}

/* FIXME: Temporary fix for tailwind not having this option */
@media (prefers-color-scheme: dark) {
  html, body {
    background: black;
    color: white;
  }

  .border-black {
    border-color: white;
  }

  .bg-white {
    background-color: black;
  }

  input {
    background-color: black;
  }
}

/* FIXME: Use extends for shared styles with other clamps */
.clamp-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
}
